﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <h1>Hello from Customer --> Home-->Index</h1>
    @Html.ActionLink("Click me","Index")
    <br/>
    @Html.ActionLink("Click me to see Admin Action","Index",new{area="Admin"})
</div>
</body>
</html>
