﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type ="text/css">
        label{ display: inline-block; width: 100px;}
        div.dataElem{ margin: 5px;}
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
