﻿@using CustoHelperMethods.Infrastructure
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

@helper ListArrayItems(string [] items)
{
    <ul>
        @foreach (string str in items)
        {
            <li>@str</li>
        }
    </ul>
}
<div>
    Here is the fruits:
    @foreach (string str in  (string[]) ViewBag.Fruits)
    {
        <b>@str</b>
    }
</div>

<div>
    Here is the cities:
    @foreach (string str in (string[]) ViewBag.Cities)
    {
        <b>@str</b>
    }
</div>
<br/><br/>
<div>
    <h3>Here is the list of fruits:</h3>
    @ListArrayItems((string[])ViewBag.Fruits)
</div>
<hr/>
<div>
    <h3>Here is th name of some cities:</h3>
    @ListArrayItems((string[])ViewBag.Cities)
</div>
<hr/>
<div>
    <h3>Here is th name of some cities from External method:</h3>
    <!--Calling the External method-->
    @Html.ListArrayItems((string[])ViewBag.Cities)
</div>
</body>
</html>
