﻿@model  ModelsAndBinding.Models.Person
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Person</h2>
<div>
    <label>ID:</label>
    @Html.DisplayFor(m=>m.PersonId)
</div>

<div>
    <label>FirstName:</label>
    @Html.DisplayFor(m=>m.FirstName)
</div>

<div>
    <label>LastName:</label>
    @Html.DisplayFor(m=>m.LastName)
</div>

<div>
    <label>Role:</label>
    @Html.DisplayFor(m=>m.Role)
</div>

<div>
    <label>City:</label>
    @Html.DisplayFor(m=>m.HomeAddress.City)
</div>

<div>
    <label>Country</label>
    @Html.DisplayFor(m=>m.HomeAddress.Country)
</div>
