﻿@model  ModelsAndBinding.Models.Appointment
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Your Appointment is Completed</h2>
<p>Your name is: <b>@Html.DisplayFor(m=>m.ClientName)</b></p>
<p>The date of your appointment is: <b>@Html.DisplayFor(m=>m.Date)</b></p>


