﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
@RenderSection("Header",false)
<div>
    @RenderBody()
</div>
@RenderSection("Footer",false)
</body>
</html>
