﻿@model BlueSky.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var classname = Model.Customers.Count > 0 ? "popular" : null;
}

@*
    A partial view is a reusable portion of a web page. It is .cshtml or .vbhtml file that contains HTML code. It can be used in one or more Views or Layout Views. You can use the same partial view at multiple places and eliminates the redundant code.
*@

<h2 class="@classname">@Model.Movie.name</h2>
@if (Model.Customers.Count == 0)
{
    <text>No one has rented this movie</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>
                @customer.Name
            </li>
        }
    </ul>

}




