﻿@model IEnumerable<string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    The list of fruits is:
    @foreach (string name in Model)
    {
        <span><b>@name</b></span>
    }
</div>
</body>
</html>
