﻿@model string[]
@{
    ViewBag.Title = "MyAction";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>MyAction</h2>

@section Header{
    <div class=" view">
        @foreach (string str in new[] {"Home", "Edit", "List"})
        {
            @Html.ActionLink(str,str,null,new{style= "margin:5px"})
        }

    </div>
}
<div>
    The list of fruits is:
    @foreach (string name in Model)
    {
        <span><b>@name</b></span>
    }
</div>

@section Footer{
    C 2021 copyright
    @Html.Action("Time")
}
