﻿@model BuiltInHelperMethodes.Models.Person
@{
    ViewBag.Title = "CreatePersonWithHelperMethods";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Create Person With HelperMethods</h2>
@*@{ Html.BeginForm();}*@
@using (Html.BeginForm("CreatePersonWithHelperMethods", "Home", new { id = "MyIdValue" }, FormMethod.Post, new { @class = "personClass" }))
{<div class="dataElem">
    <label>PersonId</label>
    @*@Html.LabelFor(m => m.PersonId)*@
    @Html.TextBox("PersonId", Model.PersonId)
    @Html.TextBoxFor(m => m.PersonId)
</div>}

<div class="dataElem">
    <label>FirstName</label>
    @Html.TextBox("FirstName",Model.FirstName)
    @Html.TextBoxFor(m=>m.FirstName)
</div>

<div class="dataElem">
    <label>LastName</label>
    @Html.TextBox("LastName",Model.LastName)
    @Html.EditorFor(m=>m.LastName)
</div>

<input type="submit" value="Submit"/>

@*@{Html.EndForm();}*@



